<div class="item">

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }} {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }} {{ end }}

    {{ .Date.Format "2006.01.02" | $.Scratch.Set "subtitle" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a> {{ partial "author" . }} {{ $.Scratch.Get "subtitle" }}</h4>
    {{ range .Params.tags }}  <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower  }}/"><kbd class="item-tag">{{ . }}</kbd></a> {{ end }}

</div>
